<div class="movie_card" id="bright" *ngFor="let item of items">
    <div class="info_section">
      <div class="movie_header">
        <img class="locandina" src="{{item.poster_path | noimage}}"/>
        <h1>{{item.name || item.title}}</h1>
        <h5>{{item.release_date}}</h5>
        <span class="minutes">117 min</span>
        <p class="type">Action, Crime, Fantasy</p>
      </div>
      <div class="movie_desc">
        <p class="text">
          {{item.overview}}
        </p>
      </div>
      <div class="movie_social">
        <ul>
          <li><i class="material-icons">share</i></li>
          <li><i class="material-icons"></i></li>
          <li><i class="material-icons">chat_bubble</i></li>
        </ul>
      </div>
    </div>
    <div class="blur_back bright_back" style="background-image: url('{{item.backdrop_path | noimage}}');"></div>
    
  </div>
  
 